* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #1e2d3b;
}

#app {
  width: 60%;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.container {
  width: calc((100% / 4) - 40px);
  height: calc((100% / 3) - 15px);
  background-color: #2e3a46;
  text-align: center;
  padding: 10px;
  margin: 5px 15px;
  color: white;
}

h3 {
  margin-bottom: 15px;
}

img {
  max-height: 85px;
  margin: 5px;
}

p {
  color: gray;
  font-size: 14px;
}
 p:last-child {
   font-size: 12px;
 }
